.public-DraftEditor-content {
    .md-block-paragraph {
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .public-DraftStyleDefault-ltr {
  }

  .textcenter {
    .public-DraftStyleDefault-ltr {
      direction: ltr;
      text-align: center;
    }
  } 

  .textleft {
    .public-DraftStyleDefault-ltr {
      direction: ltr;
      text-align: left;
    }
  } 

  .textright {
    .public-DraftStyleDefault-ltr {
      direction: ltr;
      text-align: right;
    }
  } 
}

.md-block-checkbox {
    input[type=checkbox] {
        float: left;
        margin-right: 10px;
    }
}
